@import 'src/sass/abstracts/variables';

.card {
    display: flex;
    gap: 6rem;

    justify-content: space-between;
    align-items: center;

    &__info {
        &__title {
            font-size: 7rem;
            line-height: 1.5;
            color: var(--color-primary);
        }

        &__desc {
            font-size: 3.5rem;
            color: var(--color-white);
        }
    }

    &__image {
        height: 35rem;
    }

    @media only screen and (max-width: $breakpoint) {
        text-align: center;
        flex-direction: column;
    }
}